body {
      margin: 0;
      font-family: Arial, sans-serif;
    }
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color:#282A35;
      padding: 0.5em 1em;
    }
 img{
  height: 50px;
  width: 110px;
 }
    .nav-links {
      list-style: none;
      display: flex;
      gap: 1em;
    }
    .nav-links li {
      display: inline;
    }
    .nav-links a {
      color: #fff;
      text-decoration: none;
      font-size: 1em;
      transition: color 0.3s;
    }
    .nav-links a:hover {
      color: #00bcd4;
    }
    .auth-buttons  {
      color: #fff;
      background-color: #007bff;
      padding: 0.5em 1em;
      border-radius: 5px;
      text-decoration: none;
      margin-left: 0.5em;
      transition: background-color 0.3s;
    }
    .auth-buttons a:hover {
      background-color: #0056b3;
    }
.search-container  {
      padding: 0.5em 1em;
      background-color: #00bcd4;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 1em;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    .main{
      background-color: #F3ECEA ;
      height: 240vh;
    }
    h1{
      margin:0px;
      text-align: center;
      padding: 30px;
      font-size: 5rem;
      font-weight: bolder;
    }
    h2{
      text-align: center;
      padding: 20px;
    }
    .tutorials{
      background-color:  #FFF4A3;
      height: 400px;
      width: 800px;
      border-radius: 10px;
      margin-bottom: 40px;
    }
    p{
      text-align: center;
    }
    .articles{
background-color:#FFC0C7 ;
height: 400px;
width: 800px;
border-radius: 10px;
margin-bottom: 40px;
    }
    .reference{
      background-color:#D9EEE1 ;
      height: 400px;
      width: 800px;
      border-radius: 10px;
      margin-bottom: 40px;
    }
    .content{
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: space-between;
      flex-direction: column;
      
    }
    .content h2{
      text-align: center;
      padding: 50px;
      font-size: larger;
      font-weight: bolder;
    }
    .content p{
      padding: 40px;
      font-size: large;
      font-weight: bolder;
    }